{
    "extends": ["eslint:recommended", "airbnb", "prettier", "prettier/react"],
    "plugins": ["react-hooks"],
    "env": {
      "browser": true
    },
    "parser": "babel-eslint",
    "rules": {
      "react/prop-types": "off"
    }
  }